.intro {
  width: 100vw;
  // max-width: 540px;
  margin: 0 auto;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #10103D;
  transition: 0.7s;

  .intro-content {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .intro-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 147px;
    box-shadow: 0px 15px 50px 3px #131442;
  }

  .box-video {
    width: 100%;
    height: calc(100vh - 147px);
    position: absolute;
    left: 0;
    top: 147px;
  }

  .intro-bg {
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    margin: 0 auto;
    display: block;
  }

  .box-desc {
    padding-top: 112px;
    padding-bottom: 48px;
    height: calc(100vh - 147px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;

    .invitation {
      font-size: 22px;
      margin-bottom: 20px;
      text-transform: uppercase;
      line-height: 1;
    }

    .sub-title {
      font-size: 28px;
      font-weight: 500;
      line-height: 1;
      margin-top: -36px;
      margin-bottom: 69px;
    }

    .message {
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;

      .bold {
        font-weight: 500;
      }

      .logo-text {
        background: linear-gradient(230deg, #FFF 0%, #68FED9 150.74%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }

  .date {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 9px;
  }

  .exhibition-name {
    font-size: 12.3px;
    font-weight: 500;
    line-height: 70px;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-in{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(100px);
  &.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.main {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  background: url(../images/bg.svg) no-repeat top center / cover;
  height: 2600px;
  padding-top: 216px;
  color: #fff;
  text-align: center;
  .info{
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 54px;
    &:nth-child(2){
      transition-delay: 0.2s;
    }
    &:nth-child(3){
      transition-delay: 0.4s;
    }
    &:nth-last-of-type(1){
      margin-bottom: 44px;
    }
    .bold{
      font-size: 20px;
      font-weight: 700;
    }
  }
  .box-arrow{
    margin: 0 auto 162px auto;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-delay: 0.6s;
    .arrow{
      margin-top: -3px;
      animation: arrow 1s infinite;
      display: block;
      animation-direction: alternate;
      &:nth-of-type(1){
        animation-delay: 0.1s;
      }
      &:nth-of-type(2){
        animation-delay: 0.2s;
      }
      &:nth-of-type(3){
        animation-delay: 0.3s;
      }
    }
  }
  .ex-story{
    color: #545454;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 243px;
  }
  .sub-title{
    font-size: 26px;
      font-weight: 500;
      line-height: 1;
      margin-top: -33px;
      margin-bottom: 46px;
  }
  .story{
    font-size: 11.5px;
    font-weight: 500;
    line-height: 230%;
    margin-bottom: 20px;
    padding: 0 8px;
    &:nth-last-of-type(2){
      margin-bottom: 364px;
    }
    &:nth-last-of-type(1){
      margin-bottom: 83px;
      line-height: 200%;
    }
    .highlight{
      color: #B9FFEE;
    }
    .small{
      font-size: 9.8px;
      font-weight: 300;
    }
  }
  .btn-up{
    margin: 138px auto 0 auto;
  }
  
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes arrow{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}